.Part1{
    background-color: rgb(117, 116, 116);
}
.Left{
    margin-top: 200px;
}
.Title{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 52px;
    color: rgb(46, 44, 44);
}
.Description{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
#Button{
    width: 130px;
    height: 35px;
    font-weight: 500;
    color: rgb(2, 2, 2);
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(160, 255, 7);
    border: 2px solid yellow;
}
#Button:hover{
    color: white;
    background-color: black;
    border: 1.5px solid yellow;}


#Hi-Image{
    width: 100%;
    height: 100%;
}

.Part2{
    background-color: rgb(141, 160, 148);
}
#Experience-Image{
    width: 100%;
    height: 100%;
}

.Experience-Right{
 margin-top: 200px;
 text-align: right;
}

.Description2{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#Project{
    width: 110px;
    height: 35px;
    color: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(160, 255, 7);
    border: 2px solid yellow;
}
#Project:hover{
    color: white;
    background-color: black;
    border: 1px solid yellow;
}
#CV{
    width: 80px;
    height: 35px;
    color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(160, 255, 7);
    border: 2px solid yellow;
}
#CV:hover{
    color: white;
    background-color: black;
    border: 1px solid yellow;
}

