.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#Header{
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #f8b461d3;
}
#Header p{
  margin: 0px;
  font-size: 52px;
  color: black;
  font-weight: bold;
  font-family: 'Redressed', cursive;
}

#Social{
  font-size: 22px;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid red;
}
#Social-Icon1{
  font-size: 32px;
  color: #0d8af0;
  margin: 10px;
}
#Social-Icon2{
  font-size: 32px;
  color: rgb(245, 245, 255);
  margin: 10px;
}
#Social-Icon3{
  font-size: 32px;
  color: #00aeff;
  margin: 10px;
}
