.InsideOfBrain{
    background-color: rgb(37, 37, 37);
}

.Skills{
    font-family: 'Oswald', sans-serif;
    color: burlywood;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: auto;
    padding-top: 60px;
}